<?xml version="1.0" standalone="yes"?>
<configuration>
	<configSections>
		<section name="hibernate-configuration" type="NHibernate.Cfg.ConfigurationSectionHandler,NHibernate"/>
		<section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler,log4net"/>
	</configSections>
	<appSettings>
		<add key="login" value="bruce blog .net"/>
		<add key="miaoshu" value="专注于技术，切不可沉湎于技术&#xA; "/>
		<add key="keyword" value="bruce blog .net,asp.net,c#,WEB安全,编程,软件开发,51aspx"/>
		<add key="FCKeditor:UserFilesPath" value="/blog/UserFile"/>
	</appSettings>
	<hibernate-configuration xmlns="urn:nhibernate-configuration-2.2">
		<session-factory>
			<property name="connection.provider">
				NHibernate.Connection.DriverConnectionProvider
			</property>
			<property name="dialect">
				NHibernate.Dialect.GenericDialect
			</property>
			<property name="connection.driver_class">
				NHibernate.Driver.OleDbDriver
			</property>
			<property name="connection.connection_string">
				Provider=Microsoft.Jet.OLEDB.4.0;Data Source=|DataDirectory|\bruceblog.mdb
			</property>
			<property name="current_session_context_class">
				NHibernate.Context.WebSessionContext, NHibernate
			</property>
			<property name="show_sql">
				true
			</property>
			<mapping assembly="Model"/>
		</session-factory>
	</hibernate-configuration>
	<log4net>
		<appender name="rollingFile" type="log4net.Appender.RollingFileAppender,log4net">
			<param name="File" value="Logs/log.txt"/>
			<param name="AppendToFile" value="false"/>
			<param name="RollingStyle" value="Date"/>
			<param name="DatePattern" value="yyyy.MM.dd"/>
			<param name="StaticLogFileName" value="true"/>
			<layout type="log4net.Layout.PatternLayout,log4net">
				<param name="ConversionPattern" value="%d [%t] %-5p %c [%x] &lt;%X{auth}&gt; - %m%n"/>
			</layout>
		</appender>
		<root>
			<priority value="ALL"/>
			<appender-ref ref="rollingFile"/>
		</root>
	</log4net>
	<system.web>
		<compilation debug="true">
			<assemblies>
				<add assembly="System.Data.OracleClient, Version=2.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/></assemblies></compilation>
		<authentication mode="Windows"/>
		<sessionState mode="InProc" stateConnectionString="tcpip=127.0.0.1:42424" sqlConnectionString="data source=127.0.0.1;Trusted_Connection=yes" cookieless="false" timeout="20"/>
		<customErrors mode="Off" defaultRedirect="Error.aspx">
			<error statusCode="403" redirect="Error.aspx"/>
			<error statusCode="404" redirect="Error.aspx"/>
		</customErrors>
		<httpModules>
			<add name="NHibernateBindCurrentSession" type="NHibernateBindCurrentSession"/>
		</httpModules>
	</system.web>
</configuration>
